/*http://cssnerd.com/2013/03/09/ios-6-arrow-button-pure-css-html/*/

.ios-6-arrow.blue {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: relative;
    overflow: visible;
    margin: 0;
    padding: 0;
    min-width: 20px;
    height: 26px;
    border: 0;
    background: none;
    cursor: pointer;
}
.ios-6-arrow.blue.left:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 2px 1px -2px rgba(0, 0, 0, 0.4) inset, -1px 4px 2px -4px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 1px 2px 1px -2px rgba(0, 0, 0, 0.4) inset, -1px 4px 2px -4px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 1px 2px 1px -2px rgba(0, 0, 0, 0.4) inset, -1px 4px 2px -4px rgba(0, 0, 0, 0.4) inset;
    background-color: #41618d;
    background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #99aac2), color-stop(100%, #41618d));
    background-image: -webkit-linear-gradient(top right, #99aac2, #41618d);
    background-image: -moz-linear-gradient(top right, #99aac2, #41618d);
    background-image: -o-linear-gradient(top right, #99aac2, #41618d);
    background-image: linear-gradient(top right, #99aac2, #41618d);
    -webkit-background-size: 20px 18px;
    -moz-background-size: 20px 18px;
    -o-background-size: 20px 18px;
    background-size: 20px 18px;
    -webkit-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -moz-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -ms-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -o-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    -webkit-border-radius: 0 6px 0 6px;
    -moz-border-radius: 0 6px 0 6px;
    -ms-border-radius: 0 6px 0 6px;
    -o-border-radius: 0 6px 0 6px;
    border-radius: 0 6px 0 6px;
    -moz-border-radius-topright: 8px 5px;
    -webkit-border-top-right-radius: 8px 5px;
    border-top-right-radius: 8px 5px;
    -moz-border-radius-bottomleft: 5px 8px;
    -webkit-border-bottom-left-radius: 5px 8px;
    border-bottom-left-radius: 5px 8px;
    position: relative;
    top: 0;
    left: 16px;
    width: 22px;
    height: 22px;
    content: "";
    border-width: 0 0 1px 1px;
    border-color: transparent transparent transparent #7594bf;
    border-style: solid;
    background-position: -2px 0;
    background-repeat: no-repeat;
}
.ios-6-arrow.blue.left:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #41618d;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99aac2), color-stop(100%, #41618d));
    background-image: -webkit-linear-gradient(top, #99aac2, #41618d);
    background-image: -moz-linear-gradient(top, #99aac2, #41618d);
    background-image: -o-linear-gradient(top, #99aac2, #41618d);
    background-image: linear-gradient(top, #99aac2, #41618d);
    -webkit-background-size: 26px 26px;
    -moz-background-size: 26px 26px;
    -o-background-size: 26px 26px;
    background-size: 26px 26px;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4) inset, -1px 1px 1px -1px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4) inset, -1px 1px 1px -1px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4) inset, -1px 1px 1px -1px rgba(0, 0, 0, 0.4) inset;
    text-shadow: 0 -1px 0 #474747;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 0;
    left: 2px;
    margin: 0;
    padding: 5px 10px 5px 5px;
    width: auto;
    height: 26px;
    color: white;
    content: attr(data-title);
    text-decoration: none;
    white-space: nowrap;
    line-height: 16px;
    border-width: 0 0 1px 0;
    border-color: #7594bf;
    border-style: solid;
    font-weight: 500;
    font-size: 12px;
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.ios-6-arrow.blue:hover:after {
    background-color: #213147;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #213147), color-stop(100%, #899db8));
    background-image: -webkit-linear-gradient(top, #213147, #899db8);
    background-image: -moz-linear-gradient(top, #213147, #899db8);
    background-image: -o-linear-gradient(top, #213147, #899db8);
    background-image: linear-gradient(top, #213147, #899db8);
    -webkit-background-size: 26px 26px;
    -moz-background-size: 26px 26px;
    -o-background-size: 26px 26px;
    background-size: 26px 26px;
}
.ios-6-arrow.blue:hover:before {
    background-color: #213147;
    background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #213147), color-stop(100%, #899db8));
    background-image: -webkit-linear-gradient(top right, #213147, #899db8);
    background-image: -moz-linear-gradient(top right, #213147, #899db8);
    background-image: -o-linear-gradient(top right, #213147, #899db8);
    background-image: linear-gradient(top right, #213147, #899db8);
    -webkit-background-size: 20px 18px;
    -moz-background-size: 20px 18px;
    -o-background-size: 20px 18px;
    background-size: 20px 18px;
}

.ios-6-arrow.light {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: relative;
    overflow: visible;
    margin: 0;
    padding: 0;
    min-width: 20px;
    height: 26px;
    border: 0;
    background: none;
    cursor: pointer;
}
.ios-6-arrow.light.left:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 2px 1px -2px rgba(0, 0, 0, 0.4) inset, -1px 4px 2px -4px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 1px 2px 1px -2px rgba(0, 0, 0, 0.4) inset, -1px 4px 2px -4px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 1px 2px 1px -2px rgba(0, 0, 0, 0.4) inset, -1px 4px 2px -4px rgba(0, 0, 0, 0.4) inset;
    background-color: #cccccc;
    background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #d4d7d4), color-stop(100%, #cccccc));
    background-image: -webkit-linear-gradient(top right, #d4d7d4, #cccccc);
    background-image: -moz-linear-gradient(top right, #d4d7d4, #cccccc);
    background-image: -o-linear-gradient(top right, #d4d7d4, #cccccc);
    background-image: linear-gradient(top right, #d4d7d4, #cccccc);
    -webkit-background-size: 20px 18px;
    -moz-background-size: 20px 18px;
    -o-background-size: 20px 18px;
    background-size: 20px 18px;
    -webkit-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -moz-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -ms-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -o-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    -webkit-border-radius: 0 6px 0 6px;
    -moz-border-radius: 0 6px 0 6px;
    -ms-border-radius: 0 6px 0 6px;
    -o-border-radius: 0 6px 0 6px;
    border-radius: 0 6px 0 6px;
    -moz-border-radius-topright: 8px 5px;
    -webkit-border-top-right-radius: 8px 5px;
    border-top-right-radius: 8px 5px;
    -moz-border-radius-bottomleft: 5px 8px;
    -webkit-border-bottom-left-radius: 5px 8px;
    border-bottom-left-radius: 5px 8px;
    position: relative;
    top: 0;
    left: 16px;
    width: 22px;
    height: 22px;
    content: "";
    border-width: 0 0 1px 1px;
    border-color: transparent transparent transparent #bfbfbf;
    border-style: solid;
    background-position: -2px 0;
    background-repeat: no-repeat;
}
.ios-6-arrow.light.left:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #cccccc;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4d7d4), color-stop(100%, #cccccc));
    background-image: -webkit-linear-gradient(top, #d4d7d4, #cccccc);
    background-image: -moz-linear-gradient(top, #d4d7d4, #cccccc);
    background-image: -o-linear-gradient(top, #d4d7d4, #cccccc);
    background-image: linear-gradient(top, #d4d7d4, #cccccc);
    -webkit-background-size: 26px 26px;
    -moz-background-size: 26px 26px;
    -o-background-size: 26px 26px;
    background-size: 26px 26px;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4) inset, -1px 1px 1px -1px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4) inset, -1px 1px 1px -1px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4) inset, -1px 1px 1px -1px rgba(0, 0, 0, 0.4) inset;
    text-shadow: 0 1px 0 white;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 0;
    left: 2px;
    margin: 0;
    padding: 5px 10px 5px 5px;
    width: auto;
    height: 26px;
    color: #474747;
    content: attr(data-title);
    text-decoration: none;
    white-space: nowrap;
    line-height: 16px;
    border-width: 0 0 1px 0;
    border-color: #bfbfbf;
    border-style: solid;
    font-weight: 500;
    font-size: 12px;
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.ios-6-arrow.light:hover:after {
    background-color: #999999;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(100%, #c7cbc7));
    background-image: -webkit-linear-gradient(top, #999999, #c7cbc7);
    background-image: -moz-linear-gradient(top, #999999, #c7cbc7);
    background-image: -o-linear-gradient(top, #999999, #c7cbc7);
    background-image: linear-gradient(top, #999999, #c7cbc7);
    -webkit-background-size: 26px 26px;
    -moz-background-size: 26px 26px;
    -o-background-size: 26px 26px;
    background-size: 26px 26px;
}
.ios-6-arrow.light:hover:before {
    background-color: #999999;
    background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #999999), color-stop(100%, #c7cbc7));
    background-image: -webkit-linear-gradient(top right, #999999, #c7cbc7);
    background-image: -moz-linear-gradient(top right, #999999, #c7cbc7);
    background-image: -o-linear-gradient(top right, #999999, #c7cbc7);
    background-image: linear-gradient(top right, #999999, #c7cbc7);
    -webkit-background-size: 20px 18px;
    -moz-background-size: 20px 18px;
    -o-background-size: 20px 18px;
    background-size: 20px 18px;
}

.ios-6-arrow.dark {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: relative;
    overflow: visible;
    margin: 0;
    padding: 0;
    min-width: 20px;
    height: 26px;
    border: 0;
    background: none;
    cursor: pointer;
}
.ios-6-arrow.dark.left:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 2px 1px -2px rgba(0, 0, 0, 0.4) inset, -1px 4px 2px -4px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 1px 2px 1px -2px rgba(0, 0, 0, 0.4) inset, -1px 4px 2px -4px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 1px 2px 1px -2px rgba(0, 0, 0, 0.4) inset, -1px 4px 2px -4px rgba(0, 0, 0, 0.4) inset;
    background-color: #111111;
    background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #444444), color-stop(100%, #111111));
    background-image: -webkit-linear-gradient(top right, #444444, #111111);
    background-image: -moz-linear-gradient(top right, #444444, #111111);
    background-image: -o-linear-gradient(top right, #444444, #111111);
    background-image: linear-gradient(top right, #444444, #111111);
    -webkit-background-size: 20px 18px;
    -moz-background-size: 20px 18px;
    -o-background-size: 20px 18px;
    background-size: 20px 18px;
    -webkit-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -moz-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -ms-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -o-transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    transform: rotate(-45deg) scale(0.86) skew(-9deg, -9deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    -webkit-border-radius: 0 6px 0 6px;
    -moz-border-radius: 0 6px 0 6px;
    -ms-border-radius: 0 6px 0 6px;
    -o-border-radius: 0 6px 0 6px;
    border-radius: 0 6px 0 6px;
    -moz-border-radius-topright: 8px 5px;
    -webkit-border-top-right-radius: 8px 5px;
    border-top-right-radius: 8px 5px;
    -moz-border-radius-bottomleft: 5px 8px;
    -webkit-border-bottom-left-radius: 5px 8px;
    border-bottom-left-radius: 5px 8px;
    position: relative;
    top: 0;
    left: 16px;
    width: 22px;
    height: 22px;
    content: "";
    border-width: 0 0 1px 1px;
    border-color: transparent transparent transparent #aaaaaa;
    border-style: solid;
    background-position: -2px 0;
    background-repeat: no-repeat;
}
.ios-6-arrow.dark.left:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #111111;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #111111));
    background-image: -webkit-linear-gradient(top, #444444, #111111);
    background-image: -moz-linear-gradient(top, #444444, #111111);
    background-image: -o-linear-gradient(top, #444444, #111111);
    background-image: linear-gradient(top, #444444, #111111);
    -webkit-background-size: 26px 26px;
    -moz-background-size: 26px 26px;
    -o-background-size: 26px 26px;
    background-size: 26px 26px;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4) inset, -1px 1px 1px -1px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4) inset, -1px 1px 1px -1px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4) inset, -1px 1px 1px -1px rgba(0, 0, 0, 0.4) inset;
    text-shadow: 0 -1px 0 black;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 0;
    left: 2px;
    margin: 0;
    padding: 5px 10px 5px 5px;
    width: auto;
    height: 26px;
    color: white;
    content: attr(data-title);
    text-decoration: none;
    white-space: nowrap;
    line-height: 16px;
    border-width: 0 0 1px 0;
    border-color: #aaaaaa;
    border-style: solid;
    font-weight: 500;
    font-size: 12px;
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.ios-6-arrow.dark:hover:after {
    background-color: black;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #373737));
    background-image: -webkit-linear-gradient(top, #000000, #373737);
    background-image: -moz-linear-gradient(top, #000000, #373737);
    background-image: -o-linear-gradient(top, #000000, #373737);
    background-image: linear-gradient(top, #000000, #373737);
    -webkit-background-size: 26px 26px;
    -moz-background-size: 26px 26px;
    -o-background-size: 26px 26px;
    background-size: 26px 26px;
}
.ios-6-arrow.dark:hover:before {
    background-color: black;
    background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #000000), color-stop(100%, #373737));
    background-image: -webkit-linear-gradient(top right, #000000, #373737);
    background-image: -moz-linear-gradient(top right, #000000, #373737);
    background-image: -o-linear-gradient(top right, #000000, #373737);
    background-image: linear-gradient(top right, #000000, #373737);
    -webkit-background-size: 20px 18px;
    -moz-background-size: 20px 18px;
    -o-background-size: 20px 18px;
    background-size: 20px 18px;
}
